body {
    background-color: rgb(201, 228, 218);
}
*{
    margin: 0%;
}

.navbar-container {
background-color: rgb(62, 185, 62);
display: flex;
justify-content: space-between;
padding: 15px 30px;
color: white;
font-weight: 500;
font-family: sans-serif;
}

td {
    padding: 0px 10px;
}


.img {
    width: 100px;
    height: 60px;

}
.navbar {
    background-color: rgb(85, 207, 85);
}
.imgage{
    width: 100px;
    height: 90px;

}


